@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tg4fmz');
  src:  url('fonts/icomoon.eot?tg4fmz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tg4fmz') format('truetype'),
    url('fonts/icomoon.woff?tg4fmz') format('woff'),
    url('fonts/icomoon.svg?tg4fmz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline;
  padding-right: 0.25em;
  padding-left: 1em;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e971";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
